*{
    font-family: 'Montserrat', sans-serif;
    /* background: #161f46; */
}

.container{
    margin-left: 90px;
}

.insert{
    text-align: center;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    width: 550px;
    height: 300px;
    font-size: 25px;
    margin-top: 150px;
}

input, option{
    border-radius: 3px;
}
